/* Active Admin Print Stylesheet */
/* line 37, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/mixins/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 47, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/mixins/_reset.scss */
body {
  line-height: 1;
  color: black;
  background: white; }

/* line 49, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/mixins/_reset.scss */
ol, ul {
  list-style: none; }

/* line 51, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/mixins/_reset.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 53, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/mixins/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 55, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/mixins/_reset.scss */
q, blockquote {
  quotes: "" ""; }
  /* line 126, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/mixins/_reset.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

/* line 57, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/mixins/_reset.scss */
a img {
  border: none; }

/* line 27, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
html {
  font-size: 100.01%; }

/* line 28, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
body {
  font-size: 75%;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }

/* line 31, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: black; }
  /* line 34, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
  h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
    margin: 0; }

/* line 37, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em; }

/* line 38, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em; }

/* line 39, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }

/* line 40, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

/* line 41, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

/* line 42, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold; }

/* line 45, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
p {
  margin: 0 0 1.5em; }
  /* line 48, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
  p .left {
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0; }
  /* line 49, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
  p .right {
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0; }

/* line 52, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
.left {
  float: left !important; }

/* line 53, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
.right {
  float: right !important; }

/* line 55, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }

/* line 56, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
strong, dfn {
  font-weight: bold; }

/* line 57, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
em, dfn {
  font-style: italic; }

/* line 58, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
sup, sub {
  line-height: 0; }

/* line 60, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
abbr,
acronym {
  border-bottom: 1px dotted #666; }

/* line 62, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic; }

/* line 63, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
del {
  color: #666; }

/* line 65, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre; }

/* line 66, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

/* line 69, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
li ul,
li ol {
  margin: 0; }

/* line 71, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em; }

/* line 73, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
ul {
  list-style-type: disc; }

/* line 74, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
ol {
  list-style-type: decimal; }

/* line 76, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
dl {
  margin: 0 0 1.5em 0; }

/* line 77, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
dl dt {
  font-weight: bold; }

/* line 78, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
dd {
  margin-left: 1.5em; }

/* line 81, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%; }

/* line 82, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
th {
  font-weight: bold; }

/* line 83, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
thead th {
  background: #c3d9ff; }

/* line 84, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px; }

/* line 87, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
.small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em; }

/* line 88, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em; }

/* line 89, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
.hide {
  display: none; }

/* line 91, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
.quiet {
  color: #666; }

/* line 92, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
.loud {
  color: #000; }

/* line 93, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
.highlight {
  background: #ff0; }

/* line 94, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
.added {
  background: #060;
  color: #fff; }

/* line 95, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
.removed {
  background: #900;
  color: #fff; }

/* line 97, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
.first {
  margin-left: 0;
  padding-left: 0; }

/* line 98, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
.last {
  margin-right: 0;
  padding-right: 0; }

/* line 99, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
.top {
  margin-top: 0;
  padding-top: 0; }

/* line 100, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/_typography.scss */
.bottom {
  margin-bottom: 0;
  padding-bottom: 0; }

/* line 14, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 150%;
  font-size: 72%;
  background: #fff;
  width: 99%;
  margin: 0;
  padding: .5%;
  color: black; }

/* line 25, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
a {
  color: black;
  text-decoration: none; }

/* line 30, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
h3 {
  font-weight: bold;
  margin-bottom: .5em; }

/* line 36, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
#header {
  float: left; }
  /* line 39, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
  #header #tabs, #header .tabs, #header #utility_nav {
    display: none; }
  /* line 43, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
  #header h1 {
    font-weight: bold; }

/* line 48, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
.flashes {
  display: none; }

/* line 52, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
#title_bar {
  float: right; }
  /* line 55, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
  #title_bar h2 {
    line-height: 2em;
    margin: 0; }
  /* line 60, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
  #title_bar .breadcrumb, #title_bar #titlebar_right {
    display: none; }

/* line 66, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
#active_admin_content {
  border-top: thick solid black;
  clear: both;
  margin-top: 2em;
  padding-top: 3em; }

/* line 74, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
#footer {
  display: none; }

/* line 80, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
.table_tools ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }
  /* line 85, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
  .table_tools ul li {
    display: none;
    padding: 0;
    margin-bottom: 1em; }
    /* line 90, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
    .table_tools ul li.scope.selected, .table_tools ul li.index.selected {
      display: block; }
      /* line 93, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
      .table_tools ul li.scope.selected:before, .table_tools ul li.index.selected:before {
        content: "Showing "; }
      /* line 97, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
      .table_tools ul li.scope.selected a, .table_tools ul li.index.selected a {
        font-weight: bold; }
      /* line 101, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
      .table_tools ul li.scope.selected span, .table_tools ul li.index.selected span {
        display: inline-block;
        font-weight: normal;
        font-size: .9em; }

/* line 112, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
table {
  margin-bottom: 1.5em;
  text-align: left;
  width: 100%; }
  /* line 117, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
  table thead {
    display: table-header-group; }
    /* line 120, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
    table thead th {
      background: none;
      border-bottom: medium solid black;
      font-weight: bold; }
      /* line 125, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
      table thead th a {
        text-decoration: none; }
  /* line 131, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
  table th, table td {
    padding: .5em 1em; }
    /* line 134, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
    table th .member_link, table td .member_link {
      display: none; }
  /* line 139, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
  table td {
    border-bottom: thin solid black; }
  /* line 143, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
  table tr {
    page-break-inside: avoid; }

/* line 149, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
#index_footer, .pagination_information {
  display: none; }

/* line 154, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
.index_grid td {
  border: none;
  text-align: center;
  vertical-align: middle; }
  /* line 159, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
  .index_grid td img {
    max-width: 1in; }

/* line 166, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
.panel {
  border-bottom: thick solid #ccc;
  margin-bottom: 3em;
  padding-bottom: 2em;
  page-break-inside: avoid; }
  /* line 172, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
  .panel:last-child {
    border-bottom: none; }

/* line 178, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
.comments form {
  display: none; }
/* line 182, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
.comments .active_admin_comment {
  border-top: thin solid black;
  padding-top: 1em; }
  /* line 187, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
  .comments .active_admin_comment .active_admin_comment_meta h4 {
    font-size: 1em;
    font-weight: bold;
    float: left;
    margin-right: .5em;
    margin-bottom: 0; }
  /* line 195, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
  .comments .active_admin_comment .active_admin_comment_meta span {
    font-size: .9em;
    font-style: italic;
    vertical-align: top; }
  /* line 202, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
  .comments .active_admin_comment .active_admin_comment_body {
    clear: both;
    margin-bottom: 1em; }

/* line 211, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
.attributes_table {
  border-top: medium solid black; }
  /* line 214, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
  .attributes_table th {
    border-bottom: thin solid black;
    vertical-align: top; }
    /* line 218, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
    .attributes_table th:after {
      content: ':'; }
  /* line 224, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
  .attributes_table td img {
    max-height: 4in;
    max-width: 6in; }

/* line 232, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
#filters_sidebar_section {
  display: none; }

/* line 238, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
form fieldset {
  border-top: thick solid #ccc;
  padding-top: 2em;
  margin-bottom: 2em; }
  /* line 243, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
  form fieldset:last-child {
    border-bottom: none; }
/* line 248, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
form .buttons, form abbr {
  display: none; }
/* line 251, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
form ol {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  /* line 256, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
  form ol li {
    border-top: thin solid black;
    margin: 0;
    padding: 1em 0;
    overflow: hidden; }
    /* line 262, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
    form ol li.password, form ol li.hidden {
      display: none; }
    /* line 266, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
    form ol li label {
      font-weight: bold;
      float: left;
      width: 20%; }
    /* line 272, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
    form ol li input, form ol li textarea, form ol li select {
      background: none;
      border: 0;
      font: Arial, Helvetica, sans-serif; }
    /* line 278, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
    form ol li input[type=file] {
      display: none; }

/* line 286, /usr/local/lib/ruby/gems/2.0.0/gems/activeadmin-1.0.0.pre2/app/assets/stylesheets/active_admin/print.scss */
.unsupported_browser {
  display: none; }
