- content_for :page_heading, "Abundant Life Institute - #{@session.term.name}"

.container-fluid
  .row
    .col-sm-7
      .card.card-block.clearfix
        .card-title.clearfix
          %h4.pull-left Session Details
        = bootstrap_form_for @session, url: term_session_path(@term, @session),
          label_errors: true, html: { class: 'form-horizontal' } do |f|
          = f.alert_message 'Please check the following errors.', error_summary: false
          = f.text_field :name
          = f.text_field :external_id
          = f.select :course_id,
            options_from_collection_for_select(@courses, 'id', 'name', @session.course.id),
            {}, class: 'select2'
          = f.text_field :kata_start, class: 'form-control with-datepicker', id: 'kata_start',
              value: (l(@session.kata_start.to_date) unless @session.kata_start.nil?)
          = f.text_field :kata_until, class: 'form-control with-datepicker', id: 'kata_until',
              value: (l(@session.kata_until.to_date) unless @session.kata_until.nil?)
          = f.submit nil, class: 'btn btn-primary'
          = link_to t('.cancel', default: t('helpers.links.cancel')),
            term_session_path(@term, @session), class: 'btn btn-secondary'
