:ruby
  content_for :page_heading, "Abundant Life Institute - #{@term.name}"

- @kata_learners.each_slice(8) do |learners|
  .name-tag-container
    - learners.each do |learner|
      .name-tag
        .student-name
          %span.first_name= learner.student.proper_name.first_name
          %span.last_name= learner.student.proper_name.last_name
        .session-name= @session.course.name
        .kata
          .kata-session= @term.name
          .kata-time= @session.day_and_time
        .logo
          = image_tag('alcc/alcc_logo.png')
