:ruby
  model_class = Session
  content_for :page_heading, "Abundant Life Institute - #{@term.name}"

.container-fluid
  .row
    .col-sm-7
      .card.card-block.clearfix
        .card-title.clearfix
          %h4.pull-left Session Details
          %h5.pull-right
            = link_to term_session_path(term_id: @term.id, id: @session.id, format: :csv), title: 'Export' do
              = fa_icon 'share-square-o'
            = link_to edit_term_session_path(@term, @session), title: 'Edit' do
              = fa_icon 'pencil', class: 'text-warning'
            = link_to(term_session_path(@term, @session), method: 'delete',
              data: { confirm: t('.confirm') }, title: 'Delete') do
              = fa_icon 'trash', class: 'text-danger'
        %dl
          %dt= model_class.human_attribute_name(:name) + ':'
          %dd= @session.name
          %dt= model_class.human_attribute_name(:description) + ':'
          - if @session.course
            %dd= @session.course.description
          - else
            .note Please select a Course to associate this kata with.
            = form_for @session, url: assign_to_course_term_session_path do |f|
              = f.select :course_id, options_from_collection_for_select(@courses, 'id', 'name')
              = f.submit "Assign Course", class:'btn btn-sm btn-warning'
          %dt Starts At:
          %dd= @session.kata_start.nil? ? 'Not Available' : l(@session.kata_start.to_date, format: :short)
          %dt Runs Until:
          %dd= @session.kata_until.nil? ? 'Not Available' : l(@session.kata_until.to_date, format: :short)
        .actions
          = form_tag synchronize_users_term_session_path(@term, @session), class: 'pull-right' do
            = button_tag class: 'btn btn-sm btn-primary' do
              = fa_icon 'download'
              Synchronize Companions
          .pull-right{ style: 'padding: 5px' }
          = form_tag synchronize_group_term_session_path(@term, @session), class: 'pull-right' do
            = button_tag class: "btn btn-sm #{@session.external_id.nil? ? 'btn-primary' : ''}",
              disabled: !@session.external_id.nil? do
              = fa_icon 'download'
              Synchronize Group
          .pull-right{ style: 'padding: 5px' }
          = link_to print_name_tags(@term, @session),
            class: 'pull-right btn btn-sm btn-warning' do
            = fa_icon 'print'
            Print Name Tags
    .col-sm-5
      .card.card-block
        .card-title.clearfix
          %h4 Schedule
        #calendar.fc.fc-ltr.fc-unthemed

.container-fluid
  .row
    .col-sm-12
      .card.card-block
        .card-title.clearfix
          %h5
            %span.pull-right
              = button_to transcript_term_session_path(term_id: @term.id, id: @session.id, format: :csv),
                class: 'btn btn-sm btn-info', method: :get do
                = fa_icon 'share-square-o'
                Export Grades
            %span.pull-right
              = button_to new_term_session_learner_path(term_id: @term.id, session_id: @session.id),
                class: 'btn btn-sm btn-primary', method: :get  do
                = fa_icon 'plus'
                Add Student
        %ul.nav.nav-tabs{ role: 'tablist' }
          %li.nav-item
            %a.nav-link.active{ 'data-toggle' => 'tab', 'href' => '#Attendance' } Attendance
          %li.nav-item
            %a.nav-link{ 'data-toggle' => 'tab', 'href' => '#CourseAssessments' } Course Assessments
          %li.nav-item
            %a.nav-link{ 'data-toggle' => 'tab', 'href' => '#Grades' } Grades
        .tab-content
          #Attendance.tab-pane.active
            %table.table.table-striped
              %thead
                %tr
                  %th Participant
                  - @schedule.each do |schedule|
                    %th= schedule[:start].strftime '%m/%d'
              %tbody
                - @enrollments.each_with_index do |enrollment, i|
                  %tr
                    %td= link_to "#{enrollment.first_name} #{enrollment.last_name}", companion_path(enrollment.person_id)
                    - @session.schedules.each do |schedule|
                      %td
                        = check_box_tag "p[#{enrollment.learner_id}][#{schedule.id}]", nil,
                          !schedule.kata_learner_participations.select{ |x| x.kata_learner == enrollment.kata_learner and x.participated }.empty?,
                          'data-learner' => enrollment.learner_id, 'data-schedule' => schedule.id, 'class' => 'attendanceBox'
                        %span.tardy
                          = fa_icon 'clock-o', class: "#{is_on_time?(schedule, enrollment.kata_learner) ? 'on-time' : 'late'}"
                          %i.fa.fa-time{ class: "#{is_on_time?(schedule, enrollment.kata_learner) ? 'on-time' : 'late' }" }
                      / TODO: The previous line is ugly, please look at refactoring.
          #CourseAssessments.tab-pane
            - if @session.course
              %table.table.table-striped
                %thead
                  %tr
                    %th Name
                    %th Type
                    %th Potential
                    %th Date
                    %th Assigned
                %tbody
                  - @session.course.assessments.each do |assessment|
                    %tr{ 'data-id' => assessment.id }
                      %td= assessment.name
                      %td= assessment.assessment_type.name
                      - if @session.has_assessment? assessment
                        %td= text_field_tag 'potential',
                          @session.assigned_assessment(assessment).potential, class: 'form-control'
                        %td
                          = form_for @session, url: term_session_assessments_path(@term, @session) do |f|
                            = hidden_field_tag 'course_assessment_id', assessment.id
                            = select_tag 'assessment',
                              options_from_collection_for_select(@session.schedules, :id, :select_display,
                              @session.assigned_assessment(assessment).kata_schedule.id),
                              prompt: 'Please select a date', class: 'select2'
                        %td
                          = fa_icon 'check', class: 'assessment-assigned text-success'
                          /= submit_tag 'Assign', class: 'btn btn-sm btn-primary hide assign-assessment'
                      - else
                        %td= text_field_tag 'potential', assessment.potential, class: 'form-control'
                        %td
                          = form_for @session, url: term_session_assessments_path(@term, @session) do
                            = hidden_field_tag 'course_assessment_id', assessment.id
                            = select_tag 'assessment',
                              options_from_collection_for_select(@session.schedules, :id, :select_display),
                              prompt: 'Please select a date', class: 'select2'
                        %td
                          = submit_tag 'Assign', class: 'btn btn-sm btn-primary hide assign-assessment'
            - else
              %h4 Kata has not been associated to a course.


          #Grades.tab-pane
            %table.table.table-striped
              %thead
                %tr
                  %th Participant
                  %th Final Grade
                  - @session.assessments.each do |assessment|
                    %th
                      = assessment.name
                      %br
                      = l(assessment.kata_schedule.date.to_date, format: :short)
              %tbody
                - @enrollments.each do |enrollment|
                  %tr
                    %td= link_to "#{enrollment.first_name} #{enrollment.last_name}", companion_path(enrollment.person_id)
                    %td
                      = form_tag final_grade_term_session_learner_assessments_path(@term, @session, enrollment.kata_learner),
                        class: 'learner-final-assessment' do
                        = text_field_tag('final_grade', enrollment.final_assessment,
                          id: "#{enrollment.kata_learner}_final_grade")
                    - @session.assessments.each do |assessment|
                      %td
                        = form_tag term_session_learner_assessments_path(@term, @session, enrollment.kata_learner),
                          class: 'learner-grading-form' do
                          = hidden_field_tag 'assessment_id', assessment.id
                          = grading_input_field(assessment.grading_type,
                            get_grade_for(enrollment.kata_learner, assessment))


#scheduler.modal.fade
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        %button.close{ 'data-dismiss' => 'modal', 'aria-label' => 'Close'}
          %span{ 'aria-hidden' => true } &times;
        %h4.modal-title Add New Schedule
      = form_for KataSchedule.new do |f|
        = hidden_field_tag :date
        .modal-body
          .form-group
            = f.label :title
            = f.text_field :title, type: 'text', class: 'form-control'
          .form-group
            = label_tag 'time'
            = text_field_tag 'time', nil, 'data-mask' => '99:99', class: 'form-control'
          .form-group
            %label.radio-inline
              %input#meridian_am{ type: 'radio', value: 'AM', name: 'meridian'} AM
            %label.radio-inline
              %input#meridian_pm{ type: 'radio', value: 'PM', name: 'meridian', checked: true} PM
          .form-group
            = f.label :duration
            = f.text_field :duration, class: 'form-control', type: 'number', value: 90
          .form-group
            = label_tag 'Repeats'
            = text_field_tag 'kata_schedule[repeats]', nil, class: 'form-control', type: 'number', value: 1
            .note How many weeks will this class meet?
        .modal-footer
          %button.btn.btn-secondary{ type: 'button', 'data-dismiss' => 'modal'} Cancel
          %button.btn.btn-primary{ type: 'submit' } Save Schedule
          %button.btn.btn-danger.destroy{ type: 'button' } Remove Schedule

:javascript
  session_base_url = '#{term_session_path(@term, @session)}';
  term_id = #{@term.id};
  session_id = #{@session.id};
  schedule = #{@schedule.to_json};
