= bootstrap_form_for @course_assessment, label_errors: true,
  url: course_assessments_path(@course.id), html: { class: 'form-horizontal' } do |f|
  = f.alert_message 'Please check the following errors.', error_summary: false
  = f.text_field :name
  = f.select :assessment_type_id,
    options_from_collection_for_select(@assessment_types, :id, :name)
  = f.select :grading_type_id,
    options_for_select(@grading_types.collect { |x| [x.name.humanize, x.id] })
  = f.text_field :potential
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")),
    course_path(@course.id), :class => 'btn btn-secondary'
