.container
  .center-block
    .card
      .card-block
        .card-title Log In

        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          %fieldset.form-group
            = f.label :email
            = f.email_field :email, autofocus: true, class: 'form-control'
          %fieldset.form-group
            = f.label :password
            = f.password_field :password, autocomplete: "off", class: 'form-control'
          - if devise_mapping.rememberable?
            %fieldset.form-group
              = f.check_box :remember_me
              = f.label :remember_me
          = f.submit "Log in", class: 'btn btn-primary'
          = render "users/shared/links"
