@import "https://fonts.googleapis.com/css?family=Open+Sans";.name-tag{border:solid 1px #aeaeae;float:left;font-family:'Open Sans', 'Verdana', sans-serif;height:2.25in;margin:.75em .525em;position:relative;width:3.5in}.name-tag .student-name{font-color:#555555;font-size:18pt;font-weight:900;padding:.5in 0 0;text-align:center}.name-tag .kata{bottom:10px;font-size:10pt;position:absolute;right:10px;text-align:right}.name-tag .kata .kata-name{font-size:14pt}.name-tag .logo img{bottom:10px;height:50px;left:10px;position:absolute}
