= form_for @term do |f|
  .form-group
    = f.label :program_id
    = f.select :program_id, options_for_select(@programs.collect { |x| [x.name, x.id] }), {},
      class: 'form-control select2'
  .form-group
    = f.label :name
    = f.text_field :name, type: 'text', class: 'form-control'
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control', rows: 5
  .form-group
    = f.label :schedule_start
    = f.text_field :schedule_start, class: 'form-control with-datepicker', id: 'schedule_start',
      value: (l(@term.schedule_start.to_date) unless @term.schedule_start.nil?)
  .form-group
    = f.label :schedule_until
    = f.text_field :schedule_until, class: 'form-control with-datepicker', id: 'schedule_until',
        value: (l(@term.schedule_until.to_date) unless @term.schedule_until.nil?)
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
    = link_to t('.cancel', default: t('helpers.links.cancel')),
      terms_path, class: 'btn btn-secondary'
