- unless local_assigns.key? :terms
  .alert.alert-warning terms is undefined

- else
  - model_class = Term

  .card.card-block
    .card-title
      %h4.pull-left #{@current_program.name} - Terms
      %h5.pull-right
        = link_to terms_path(format: :csv) do
          = fa_icon 'share-square-o'
        = link_to new_term_path do
          = fa_icon 'plus'
    %table.table
      %thead
        %tr
          %th= model_class.human_attribute_name(:name)
          %th= model_class.human_attribute_name(:schedule_start)
      %tbody
        - terms.each do |term|
          %tr
            %td= link_to term.name, term_path(term.id)
            %td= l term.schedule_start.to_date, format: :long
    .pager= paginate terms
