:ruby
  model_class = Term
  content_for :page_heading, 'ALI Terms'

.container-fluid
  .row
    .col-sm-12
      .card.card-block
        .card-title
          %h4.pull-left
          %h5.pull-right
            = link_to terms_path(format: 'csv') do
              = fa_icon 'share-square-o'
            = link_to new_term_path do
              = fa_icon 'plus'
        %table.table.table-striped
          %thead
            %tr
              %th= model_class.human_attribute_name(:name)
              %th= model_class.human_attribute_name(:program)
              %th= model_class.human_attribute_name(:description)
              %th= model_class.human_attribute_name(:schedule_start)
              %th= model_class.human_attribute_name(:schedule_until)
              %th= t '.actions', default: t("helpers.actions")
          %tbody
            - @terms.each do |kata_session|
              %tr
                %td= link_to kata_session.name, term_path(kata_session.id)
                %td= kata_session.program.name
                %td= kata_session.description
                %td= l(kata_session.schedule_start.to_date, format: :long) unless kata_session.schedule_start.nil?
                %td= l(kata_session.schedule_until.to_date, format: :long) unless kata_session.schedule_until.nil?
                %td

                  = link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_term_path(kata_session.id), class: 'btn btn-sm btn-primary'
                  = link_to t('.destroy', :default => t("helpers.links.destroy")),
                    term_path(kata_session), method: :delete,
                    data: { confirm: t('.confirm', default: t("helpers.links.confirm",
                            default: 'Are you sure?')) }, class: 'btn btn-sm btn-danger'
        .pager= paginate @terms
