:ruby
  content_for :page_heading, "Abundant Life Institute - #{@term.name}"

.container-fluid
  .row
    .col-sm-6
      .card.card-block
        .card-title
          %h5 Available Courses
        = form_tag "/terms/#{@term.id}/create_session" do
          %table.table.table-striped
            %thead
              %tr
                %th
                %th Number
                %th Name
            %tbody
              - @available_courses.each do |course|
                %tr
                  %td= check_box_tag 'courses[]', course.number
                  %td= course.number
                  %td= course.name
          %tfoot
            %tr
              %td{colspan: 3}= submit_tag 'Add Courses', class: 'btn btn-primary'
