:ruby
  model_class = Term
  content_for :page_heading, "#{@current_program.name} - #{@term.name}"

.container-fluid
  .row
    .col-sm-6
      .card.card-block
        .card-title
          %h5.pull-right
            = link_to term_path(id: @term.id, format: :csv), title: 'Export' do
              = fa_icon 'share-square-o'
            = link_to edit_term_path(@term), title: 'Edit' do
              = fa_icon 'pencil', class: 'text-warning'
            = link_to(term_path(@term), method: 'delete',
              data: { confirm: t('.confirm') }, title: 'Delete') do
              = fa_icon 'trash', class: 'text-danger'
        %dl
          %dt= model_class.human_attribute_name(:program_id)
          %dd= @term.program.name
          %dt= model_class.human_attribute_name(:name)
          %dd= @term.name
          %dt= model_class.human_attribute_name(:description)
          %dd= @term.description
          %dt= model_class.human_attribute_name(:schedule_start)
          %dd= l @term.schedule_start.to_date, format: :long
          %dt= model_class.human_attribute_name(:schedule_until)
          %dd= l(@term.schedule_until.to_date, format: :long) unless @term.schedule_until.nil?

    .col-sm-6
      .card.card-block
        .card-title
          %h5.pull-right
            = link_to new_session_term_path(@term), title: 'Add Course' do
              = fa_icon 'plus'
        %table.table.table-striped
          %thead
            %tr
              %th= t('session.name')
              %th= t('course.number')
              %th= 'Synced?'
          %tbody
            - @term.sessions.each do |session|
              %tr
                %td= link_to session.name, term_session_path(@term, session)
                %td= session.try(:course).try(:number)
                %td= session.external_id.nil? ? fa_icon('chain-broken', class: 'text-danger') : |
                  fa_icon('link', class: 'text-success') |
