- if current_user
  = image_tag 'avatars/male3@3x.png', class: 'avatar'
  .nav-item
    .dropdown
      #UserDropdown.dropdown-toggle{ 'data-toggle' => 'dropdown', href: '#', 'aria-haspopup' => true, 'aria-expanded' => false}
        %span.user-name.hidden-phone= current_user.email
      .dropdown-menu{ 'aria-labelledby' => 'UserDropdown' }
        = link_to root_path, class: 'dropdown-item' do
          = fa_icon 'user'
          Profile
        = link_to root_path, class: 'dropdown-item' do
          = fa_icon 'cog'
          Settings
        .dropdown-divider
        = link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do
          = fa_icon 'sign-out'
          Sign Out
