- if object.errors and object.errors.any?
  #ErrorWrapper
    #ErrorContainer
      - if local_assigns[:object_name].nil? and !local_assigns[:mode].present?
        %h3
          = pluralize(object.errors.count, "error")
          = t('atlas_views.shared.validation_container.prohibited_this')
          = object.class.model_name.human
          = t('atlas_views.shared.validation_container.from_being_saved')
      - elsif local_assigns[:mode].present? and local_assigns[:mode] == :search
        %h3
          = pluralize(object.errors.count, "error")
          \ #{t('atlas_views.shared.validation_container.encountered')}
      - else
        %h3
          = pluralize(object.errors.count, "error")
          = t('atlas_views.shared.validation_container.prohibited_this')
          = object_name
          = t('atlas_views.shared.validation_container.from_being_saved')
      %ul
        - object.errors.each do |k,v|
          - key = t("activerecord.attributes.#{object.class.model_name.i18n_key}.#{k}")
          %li= "#{key} #{v}".html_safe
