.row
  .col-sm-6
    .card.card-block
      %h3.card-title Current Term
      = render partial: 'terms/current_term', locals: { term: @current_term }
  .col-sm-6
    = render partial: 'terms/term_summary', locals: { terms: @terms }
