= bootstrap_form_for @companion, label_errors: true, url: form_path,
  html: { class: 'form-horizontal' } do |f|
  = f.alert_message 'Please check the following errors.', error_summary: false
  = f.text_field :first_name
  = f.text_field :last_name
  = f.text_field :email_address
  = f.text_field :address_1
  = f.text_field :address_2
  = f.text_field :city
  = f.text_field :state
  = f.text_field :postal_code
  = f.text_field :external_id
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")),
    companions_path, :class => 'btn btn-secondary'
