%tr
  %td
    = link_to companion_path companion.id do
      = companion.proper_name.first_name
      = companion.proper_name.last_name
  %td= companion.contact.phones.first.nil? ? '' : companion.contact.phones.first.value
  %td= companion.contact.addresses.select{ |x| x.name == 'Home'}.first.nil? ? '' : companion.contact.addresses.select{ |x| x.name == 'Home'}.first.address_1
  %td= companion.roles.map{ |x| x.type }.join(',')
