:ruby
  model_class = User
  content_for :page_heading, 'Abundant Life Institute - Companions'

.container-fluid
  .row
    .col-sm-12
      .card.card-block
        .card-title.clearfix
          %h4.pull-left
            Companions
          %span.pull-left
            = form_tag search_companions_path, method: 'GET' do
              = text_field_tag :search, '', class: 'span12', placeholder: 'Search'
          %h5.pull-right
            = link_to new_companion_path, title: 'New Companion' do
              = fa_icon 'plus'
        %table.table
          %thead
            %tr
              %th Name
              %th Phone
              %th Address
              %th Roles
          %tbody
            - @companions.each do |companion|
              = render partial: "#{I18n.locale}_companion_details", locals: { companion: companion }
        .pager= paginate @companions
