:ruby
  model_class = Course
  content_for :page_heading, "Abundant Life Institute - New Companion"

.row
  .col-sm-6
    .card
      .card-block
        = render :partial => "en_form", locals: { form_path: companions_path }
