:ruby
  model_class = User
  content_for :page_heading, "Abundant Life Institute -
    #{@companion.proper_name.first_name}
    #{@companion.proper_name.last_name}"

.row
  .col-sm-6
    .card.card-block
      .card-title
        %h4.pull-left User Information
        %h5.pull-right          
          = link_to start_merge_companion_path(id: @companion.id), title: 'Merge', class: 'inactive' do
            = fa_icon 'compress'
      .card-body.clear-all
        = render :partial => "en_form", locals: { form_path: companion_path(@companion) }


  .col-sm-6
    .card.card-block
      .card-title
        %h4.pull-left Track Progress
        %h5.pull-right
      - @student.kata_learners.chunk { |c| c.session.course.track }.each do |track,learners|
        %table.table
          %thead
            %tr
              %th{ width: '60%' }= track.name
              %th
              %th{ witdh: '40%' }= "Completed: #{learners.length}"
          %tbody
            - learners.each do |learner|
              %tr
                %td= "#{show_if_found(learner.session.course, :number)}  -  #{show_if_found(learner.session.course, :name)}"
                %td= learner.session.term.name
                %td= learner.final_assessment

    .card.card-block
      .card-title
        %h4.pull-left Course Work
        %h5.pull-right
          = link_to transcript_companion_path(id: @companion.id, format: :pdf), title: 'Export' do
            = fa_icon 'share-square-o'
      %table.table
        %thead
          %tr
            %th= 'Course'
            %th= 'Track'
            %th= 'Date Taken'
            %th= 'Grade'
        %tbody
          - @companion.try(:student).try(:kata_learners).try(:each) do |learner|
            %tr
              %td= "#{show_if_found(learner.session.course, :number)}  -  #{show_if_found(learner.session.course, :name)}"
              %td= learner.session.course.track.name
              %td= learner.session.term.name
              %td= learner.final_assessment
