= bootstrap_form_for @course, label_errors: true, :html => { :class => 'form-horizontal' } do |f|
  = f.alert_message 'Please check the following errors.', error_summary: false
  = f.text_field :name
  = f.text_field :number
  = f.text_area :description, rows: 5
  = f.select :track_id, options_from_collection_for_select(@tracks, 'id', 'name')
  = f.select :program_ids, options_from_collection_for_select(@programs, 'id', 'name')
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")),
    courses_path, :class => 'btn btn-secondary'
