:ruby
  model_class = Course
  content_for :title, 'Courses - Summer 2013'
  content_for :page_heading, model_class.model_name.human.pluralize

.container-fluid
  .row
    .col-sm-12
      .card.card-block
        .card-title
          %h4.pull-left Courses
          %h5.pull-right
            = link_to courses_path(format: :csv), title: 'Export Courses' do
              = fa_icon 'share-square-o'
            = link_to new_course_path, title: 'New Course' do
              = fa_icon 'plus'
        %table.table
          %thead
            %tr
              %th{ width: '15%' }= model_class.human_attribute_name(:name)
              %th{ width: '10%' }= model_class.human_attribute_name(:number)
              %th{ width: '35%' }= model_class.human_attribute_name(:description)
              %th{ width: '15%' }= model_class.human_attribute_name(:track)
              %th{ width: '15%' }= model_class.human_attribute_name(:created_at)
              %th{ width: '10%' }=t '.actions', :default => t("helpers.actions")
          %tbody
            - @courses.each do |course|
              - unless course.archived?
                %tr
                  %td= link_to course.name, course_path(course)
                  %td= course.number
                  %td= course.description
                  %td= course&.track&.name
                  %td= l course.created_at.to_date, format: :long
                  %td
                    = link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_course_path(course), :class => 'btn btn-sm btn-primary'
                    = link_to t('.destroy', :default => t("helpers.links.destroy")),
                      course_path(course), :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm",
                          :default => 'Are you sure?')) }, :class => 'btn btn-sm btn-danger'
