:ruby
  model_class = Course
  content_for :page_heading,  "Abundant Life Institute - #{@course.name}"

.container-fluid
  .row
    .col-sm-6
      .card.card-block
        .card-title
          %h5.pull-right
            = link_to course_path(id: @course.id, format: :csv), title: 'Export' do
              = fa_icon 'share-square-o'
            = link_to edit_course_path(@course), title: 'Edit' do
              = fa_icon 'pencil'
            = link_to(course_path(@course), method: 'delete',
              data: { confirm: t('.confirm')}, title: 'Delete') do
              = fa_icon 'trash'
        %dl
          %dt= model_class.human_attribute_name(:name)
          %dd= @course.name
          %dt= model_class.human_attribute_name(:number)
          %dd= @course.number
          %dt= model_class.human_attribute_name(:track)
          %dd= @course&.track&.name
          %dt= model_class.human_attribute_name(:description)
          %dd= @course.description
    .col-sm-6
      .card.card-block
        .card-title
          %h4.pull-left Assessments
          %h5.pull-right
            = link_to new_course_assessment_path(@course), title: 'New Assessment' do
              = fa_icon 'plus'
        %table.table.table-striped
          %thead
            %tr
              %th Assessment
              %th Type
              %th Total
          %tbody
            - @course.assessments.each do |assessment|
              %tr
                %td= link_to assessment.name, edit_course_assessment_path(@course.id, assessment.id)
                %td= assessment.assessment_type.name
                %td= assessment.potential
