// Bootstrap framework overrides.

// Specifies the default spacer value for our spacer utilities.
$spacer: .75rem;

// Enables predefined box-shadow styles on various components.
$enable-shadows: true;

// Enables predefined gradients via background-image various components
$enable-gradients: true;

// Swaps float and display: table styles for display: flex.
$enable-flex: true;

// Global Imports
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
