@import 'overrides';
$gray: #888;

body {
  margin: 0;
  padding: 0;
}

@media print {
  .name-tag-container {
    page-break-after: always;
  }
}

.name-tag-container {
  padding: 1.06in 0;
  margin: 0 auto;
  clear: both;
  overflow: auto;
  width: 7in;
}

.name-tag {
  float: left;
  font-family: 'Open Sans', 'Verdana', sans-serif;
  height: 2.22in;
  position: relative;
  width: 3.5in;

  .student-name {
    font-color: darken($gray, 20%);
    font-size: 20pt;
    font-weight: 900;
    padding: 0.5in 0 0;
    text-align: center;

  }

  .session-name {
    font-size: 16pt;
    text-align: center;
  }

  .kata {
    bottom: 10px;
    font-size: 10pt;
    position: absolute;
    right: 10px;
    text-align: right;
  }

  .logo img {
    bottom: 10px;
    height: 50px;
    left: 10px;
    position: absolute;
  }

}