// Variables

// Colors defined for the generic UI.
$primary-background: desaturate(darken($brand-primary, 25%), 60%);


html {
  font-size: 12px; // Override the default bootstrap font size, this sizes all elements respectively
}

h5 {
  span.pull-right {
    margin-left: 10px;
  }
}

body {
  background: $gray-lighter;

  .inactive {
    pointer-events: none;
    cursor: default;
  }

  header {
    background: $gray-lighter;
    margin: 0 0 0 220px;
    padding: $spacer;
  }

  .page-wrapper {
    min-height: 100%;
    padding: $spacer * 2;
  }

  .page-heading {
    background: $gray-lightest;
    border-bottom: solid 1px lighten($gray-light, 35%);
    border-top: solid 1px lighten($gray-light, 35%);
    margin: 0 0 0 220px;
    padding: $spacer * 2;
  }

  .profile {
    color: $gray-lighter;
    padding: 30px 20px;
    position: absolute;
    top: 0;
    width: 220px;

    .avatar {
      height: 50px;
      margin: 0 0 10px;
    }
  }
}


.navbar-bg {
  background: $primary-background;
  bottom: 0;
  float: left;
  position: fixed;
  top: 0;
  width: 220px;
  z-index: -1;
}

.navbar-default {
  background: $primary-background;
  position: absolute;
  width: 220px;
  margin-top: 30px;

  li {
    a {
      color: desaturate(lighten($brand-primary, 35%), 50%);
      display: block;
      font-size: 14px;
      font-weight: 600;
      padding: 12px 20px 12px 25px;
    }

    i {
      padding: 0 5px 0 0;
    }
  }
}

.page-wrapper {
  background: $gray-lighter;
  margin: 0 0 0 220px;
  position: relative;
}

.tardy {
  cursor: pointer;
  display: none;
  font-size: 14px;

  > .on-time {
    color: $brand-success;
  }

  > .late {
    color: $brand-danger;
  }
}
