!!! 5
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'Traveled By Us'
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=Edge,chrome=1' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js'

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    -#%header
      %nav.navbar
        = link_to 'Traveled By', root_path, class: 'navbar-brand'
    .page-heading
      %h3
        = content_for?(:page_heading) ? yield(:page_heading) : @current_program.name
      .breadcrumbs
        Home
    .navbar-bg
    .profile
      = render partial: 'shared/user_card'
    %nav#main-navigation.navbar-default.navbar-static-side
      %ul.nav
        %li
          = link_to root_path do
            = fa_icon 'dashboard'
            %span Dashboard
        %li
          = link_to courses_path do
            = fa_icon 'book'
            %span Catalog
        %li
          = link_to terms_path do
            = fa_icon 'calendar'
            %span Terms
        %li
          = link_to companions_path do
            = fa_icon 'group'
            %span Companions
    .page-wrapper.container-fluid
      = yield

    :javascript
      if(typeof(#{request[:controller].classify}) === 'function') {
        var active_class = new #{request[:controller].classify}();
        if(active_class.#{request[:action]} != undefined)
          active_class.#{request[:action]}();
      }

      $auth_token = '#{form_authenticity_token}';
